@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
p {
  font-family: "Dancing Script", cursive;
}
body {
  background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_dots_195761_1400x1050.jpg);
}
.wrapper {
  width: 98%;
  margin: 10px 10px;
  outline: solid red;
  border-radius: 0.5%;
  justify-content: center;
  /* background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_dots_195761_1400x1050.jpg); */
}
img {
  width: 100%;
  border-radius: 5%;
}
p:nth-child(odd) {
  /* background-image: url(https://i.pinimg.com/736x/d9/9a/77/d99a77aeb546be61d3016f6efa0078fb.jpg); */
  color: white;
  text-align: right;
  margin: 0px;
}
p:nth-child(even) {
  /* background-image: url(https://i.pinimg.com/736x/d9/9a/77/d99a77aeb546be61d3016f6efa0078fb.jpg); */
  color: beige;
  text-align: left;
  margin: 0px;
}
/* /* nav {
  border: solid yellow;
  display: flex;
  justify-content: space-around; */

div {
}
table {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
a {
  text-decoration: none;
  color: brown;
}
tr th {
  border: 1px solid gray;
  background-color: gray;
  text-align: left;
  width: max-content;
  opacity: 0.6;
}
tr th:hover {
  background-color: rgb(56, 55, 55);
  transition: 1s;
  opacity: 1;
}
h1 {
  text-align: center;
  color: rgb(226, 43, 43);
}
@media (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  tr th {
    display: none;
  }
}
